body{
  font-style: Verdana, sans-serif;
  margin: 0;
}
header{
  background-color: #F4F4F4;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
}
.Header__Inner{
  max-width: 1000px;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.Header__Left{
  width: 50%;
  height: 100%;
}
.Header-Logo{
  height: 100%;
}
.Header-Log-Img{
  height: 100%;

}
.Header__Right{
  width: 80%;
  height: 100%;
}
.Header__Right ul{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;

}
.Header__Right ul li{
  list-style-type: none;
}
.Section-Logo{
  position: relative;
  width: 100%;
  height: 100%;
}
.Section-Center-Img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
  /*width:好きな値;
  height:好きな値;*/
}
.Section-Logo-Img{
  width: 100%;
  height: auto;
}
.Contents__Top{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Contents__Left{
  position: relative;
  overflow: hidden;
}
.Contents__Left-Img{
  width: 100%;
  height: auto;
	display: block;
	transition: 0.5s;
  transition: all  0.5s  ease;
}
.Contents__Left-Img:hover{
  transform: scale(1.1, 1.1);
  opacity:0.7;
  filter:alpha(opacity=70);
}
.Contents-Salon{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  padding-top: 100px;
}
.Contents__Center{
  position: relative;
  overflow: hidden;
}
.Contents__Center-Img{
  width: 100%;
  height: auto;
  display: block;
	transition: 0.5s;
  transition: all  0.5s  ease;
}
.Contents__Center-Img:hover{
  transform: scale(1.1, 1.1);
  opacity:0.7;
  filter:alpha(opacity=70);
}
.Contents-Concept{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  padding-top: 100px;
}
.Contents__Right{
  position: relative;
  overflow: hidden;
  background-color:#ffffff; /*背景に白を設定*/
  display:block;
}
.Contents__Right-Img{
  width: 100%;
  height: auto;
  display: block;
	transition: 0.5s;
  transition: all  0.5s  ease;
}
.Contents__Right-Img:hover{
  transform: scale(1.1, 1.1);
  opacity:0.7;
  filter:alpha(opacity=70);
}
.Contents-Gellary{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  padding-top: 100px;
}
.Contents h2{
  text-align: center;
  color: white;
  margin: 0;
}
.Contents p{
  text-align: center;
  color: white;
  margin: 0;
}
.Recruit{
  background-color: #F4F4F4;
}
.Recruit__Inner{
  max-width: 1000px;
  width: 100%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Recruit-Img{
  width: 100%;
}
.Information{
  background-color: #F1F1F1
}
.Information img{
  width: 100px;
  height: 100px;
  margin:
}
.Information h3{
  font-size: 16px;
}
.Information__Top{
  padding-top: 100px;
  margin-bottom: 65px;
  text-align: center;
}
.Information p{
  margin: 0;
}
.Information-Art{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.Information-Art-Top{
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.Information-Art-Top-Left{
  width: 460px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 0px 0px 0px 20px;
}
.Information-Art-Top-Left-Content{
}
.Information-Art-Top-Right{
  width: 460px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 0px 0px 0px 20px;
}
.Information-Art-End{
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 120px
}
.Information-Art-End-Left{
  width: 460px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 0px 0px 0px 20px;
}
.Information-Art-End-Right{
  width: 460px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 0px 0px 0px 20px;
}
.Blog h2{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 65px;
  margin: 0;
}
.Blog h3{
  font-size: 16px;
}
.Blog p{
  font-size: 8px;
}
.Blog-Art{
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Blog-Art-Img{
  width: 220px;
  height: 220px;
}
.Blog-Art-Left{
  text-align: center;
}
.Blog-Art-Center-Left{
  text-align: center;
}
.Blog-Art-Center-Right{
  text-align: center;
}
.Blog-Art-Right{
  text-align: center;
}
.Footer__Top{

}
.Footer__End{
  text-align: center;
  height: 77px;
  background-color: #8F969D;
}
.Footer__End p{
  margin: 0;
}
